/* Basic Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'SF Pro', sans-serif;
    color: #B24B0D; /* Primary Color */
    background-color: #F7EDE7; /* Background Color */
    text-align: center; /* To center everything by default */
}

.container {
    max-width: 1200px; /* Or adjust as needed */
    margin: 0 auto;
    text-align: left; /* To left-align the content inside */
    padding: 0 15px; /* Some padding to prevent content from sticking to the screen edges on smaller devices */
}

a {
    color: #B24B0D;
    text-decoration: none;
    transition: 0.3s ease;
    padding: 10px 15px;
    border-radius: 5px;
}

a:hover {
    color: #F7EDE7;
    background-color: #B24B0D;
}

ul {
    list-style: none;
    padding: 0;
}

/* Navigation Bar */
nav {
    background-color: #F7EDE7;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
}

/* Hero Section (App Look) */
#app-look {
    text-align: center;
    padding: 50px 0;
}

.hero-image {
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
    display: block;
}

h1, h2 {
    color: #B24B0D; /* Primary Color */
    margin: 20px 0;
}

/* Generic section styling */
section {
    padding: 50px;
}

/* Team Section */
.team-member {
    text-align: center;
    margin: 20px;
}

.team-member img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

/* Footer */
footer a {
    color: #B24B0D; /* Primary Color */
    text-decoration: underline; /* Optional: to make it distinct as a link */
}

footer a:hover {
    color: #F7EDE7; /* Making it a bit interactive on hover */
    background-color: #B24B0D;
}

