<footer>
    <p><a href="https://docs.google.com/document/d/15PR-hRr6lkvQ3DcFaQUuaY2mK98BSLbDhmkCsaXEI_U/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Privacy Policy</a></p>
    <p>Made with ❤️ in Switzerland</p>
    
    <!-- Social Media Links -->
    <nav aria-label="Social Media Links">
        <ul id="social-media" class="center-content">
            <li><a href="https://linkedin.com/company/slow-grub" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/slowgrub" target="_blank" rel="noopener noreferrer">Facebook</a></li>
            <li><a href="https://www.instagram.com/slowgrub/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
            <li><a href="https://github.com/slowgrub/slow-grub" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        </ul>
    </nav>
</footer>
