<footer>
    <p><a href="https://docs.google.com/document/d/15PR-hRr6lkvQ3DcFaQUuaY2mK98BSLbDhmkCsaXEI_U/edit?usp=sharing" target="_blank" rel="noopener noreferrer">Privacy Policy</a></p>
    <p>Made with ❤️ in Switzerland</p>
    
    <div class="contact-info">
    <h3>Contact Us</h3>
    <p>Email: <a href="mailto:hello@slowgrub.com">hello@slowgrub.com</a></p>
    <p>Phone: +41 788 18 6778</p>
</div>
    <!-- Social Media Links -->
    <nav aria-label="Social Media Links">
        <ul id="social-media" class="center-content">
            <li><a href="https://linkedin.com/company/slow-grub" target="_blank" rel="noopener noreferrer">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/slowgrub" target="_blank" rel="noopener noreferrer">Facebook</a></li>
            <li><a href="https://www.instagram.com/slowgrub/" target="_blank" rel="noopener noreferrer">Instagram</a></li>
            <li><a href="https://github.com/slowgrub/slow-grub" target="_blank" rel="noopener noreferrer">GitHub</a></li>
        </ul>
    </nav>


<script type="text/javascript" id="zsiqchat">
        var $zoho=$zoho || {};
        $zoho.salesiq = $zoho.salesiq || {
            widgetcode: "bed84a915241f12f06d0e7dda79176b77272a8f9ccb6b9b104566da0c6b6fc9f38f3831a3e32ba999a4d40f52444faeb", 
            values:{},
            ready:function(){}
        };
        var d=document;s=d.createElement("script");
        s.type="text/javascript";
        s.id="zsiqscript";
        s.defer=true;
        s.src="https://salesiq.zoho.com/widget";
        t=d.getElementsByTagName("script")[0];
        t.parentNode.insertBefore(s,t);
    </script>
</footer>
